*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color:seagreen;
  text-align: center;
}

.input{
  width: 200px;
  height: 30px;
  display: block;
  margin: 20px auto 20px;
}

.btn{
  width: 150px;
  height: 30px;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  background-color:seagreen;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bolder ;
}
h1{
  text-align: center;
  margin-top: 20px;
}
p{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.error{
  margin: 10px 0;
  color: red;
  font-weight: bolder;
}